<!-- 
 	@Page:  html的模板页面
 	@Author: yangjinlai 
 	@Date:   2019-01-19
-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <meta name="applicable-device" content="mobile">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!-- <link rel="stylesheet" href="/vendor/mui/css/mui.min.css"> -->
		<%=title%>
		<%=less%>
		<script type="text/javascript" src="/commonResources/header/static/js/header.js"></script>
	</head>

	<body>
		<%=content%>


		<%=script%>
		<!-- <script type="text/javascript" src="/commonResources/common/js/htmd/htmd.js"></script>
		<script type="text/javascript">
			_htmd('wap', 'wap')
		</script> -->
	</body>
</html>