<title>问卷调查</title>
<section class="questionJumpBox">
    <dl>
        <dt class="questionJumpBox-img"><img src="../static/image/right.png"/> </dt>
        <dd>
            <P class="questionJumpBox-title">您已完成本次问卷</P>
            <P class="questionJumpBox-title">感谢您的帮助与支持！</P>
            <p class="questionJumpBox-message">进入恒乐汇会员社区  体验更多会员尊享服务</p>
            <button class="questionJumpBox-Btn">立即前往</button>
        </dd>
    </dl>
</section>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
<!-- 当前页面需要引用的第三方文件 -->
<vendor>zepto, handlebars,mui</vendor>
